<%= render :partial => '/submenu' %>

<div  class="page-header" >
  <div style="display:inline-block;"><%= image_tag avatar_url(@user) %></div>
  <div style="display:inline-block"><h1><%= @user.full_name %></h1></div>
</div>

<div>
  <p><b>Email:</b> <%= @user.email %></p> <!-- Add option to email user -->
  <p><b>Member Since:</b> <%= @user.created_at %></p> <!-- Want to change datetime format -->
  <p><b>Profile: </b> <%= @user.role %></p>
  <p><b>Bio:</b> <!-- Put an editable field here --> </p>
</div>

<hr>

<h2>Activity</h2>
  <% @activities.each do |activity| %>
    <div class="activity">
      <%= link_to activity.owner.full_name, activity.owner if activity.owner %>
      <%= render_activity activity %>
    </div>
  <% end %>

<h2>Contacts</h2>
<ul>
  <% for relationship in @user.relationships %>
    <li>
      <%= relationship.relation.full_name %>
      (<%= link_to "remove", relationship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<!-- Want to change this link in the future -->
<p><%= link_to "Find Contacts", users_path %></p> 

<h2>Contacted by Users</h2>
<ul>
  <% for user in @user.inverse_relations %>
    <li><%= user.full_name  %></li>
  <% end %>
</ul>