<!DOCTYPE html>
<html>
<head>
  <title>PracticeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Tutor App</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Browse Lessons", events_path %></li>
            <li><%= link_to "New Lesson", new_event_path %></li>
            <li><%= link_to "Contact Us" %></li>
            <% if current_user %>
            <!-- Change these for added session cookies etc. -->
            <li><%= link_to "Logged in as #{current_user.first_name} #{current_user.last_name}", logout_path %></li>
            <li><%= link_to "Log Out", session_path("current"), method: "delete" %></li> 
            <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
    <% end %>
    <div class="row">
      <div class="span10"><%= yield %></div>
      <div class="span2">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>


</body>
</html>
