<div class="navbar" style="margin-top:10px">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar" >
        <ul class="nav">
          <li class="btn btn-default navbar-btn" style="margin:7px; padding:0"><%= link_to "Profile", current_user %></li>
          <li class="btn btn-default navbar-btn" style="margin:7px; padding:0"><%= link_to "Browse Lessons", events_path %></li>
          <li class="btn btn-default navbar-btn" style="margin:7px; padding:0"><%= link_to "New Lesson", new_event_path %></li>
          <li class="btn btn-default navbar-btn" style="margin:7px; padding:0"><%= link_to "Feedback", user_comments_path(current_user) %></li>
          <li class="btn btn-default navbar-btn" style="margin:7px; padding:0"><%= link_to "Contacts", relationships_path %></li>
          <li class="btn btn-default navbar-btn" style="margin:7px; padding:0"><%= link_to "Send Invitation", new_invitation_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>