<% if @invitation.errors.any? %>
<div class="error_messages">
  <h2>Please correct the following errors.</h2>
  <ul>
    <% @invitation.errors.full_messages.each do |msg| %><%# form_tag(:action => "update", {:class => "form"}) do %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @invitation do |f| %>
  <p>
    <%= f.label :recipient_email, "Email" %><br>
    <%= f.text_field :recipient_email %>
  </p>
  <p><%= f.submit "Invite" %></p>
<% end %>